<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
  <display-name>Dwell Store</display-name>
  <description>An ATG Application</description>

  <!-- 
     This is the name/value of the "parent web application", i.e. the name
     of a web application, which has a SessionNameContextServlet defined in it
     that will define the session scope for this web application. 
     This definition is commented out here in the "main" web application, but
     you could copy this init param setting into a child web application which
     wanted to share the same session scope with this servlet.

       <context-param>
          <param-name>atg.session.parentContextName</param-name>
          <param-value>/dyn</param-value>
       </context-param>

    -->
  <!--
       If context-root is set here, then ServletContextWebAppRegistry will use
       this setting as the context-root for this WebApp.  This must match
       the context-root setting in application.xml.
    -->
  <context-param>
    <param-name>context-root</param-name>
    <param-value>dwell</param-value>
  </context-param>

  <!--
    atg.assembler context parameter indicates that we want to execute the 
    AssemblerPiplineServlet which will use the assembler api to return content
    from Experience Manager or Guided Search.  
  -->
  <context-param>
    <param-name>atg.assembler</param-name>
    <param-value>true</param-value>
  </context-param>

  <!--
    Called when a request is for a .jsp file, the PageFilter servlet is
    the entry point into the DAF pipeline. PageFilter calls
    atg/dynamo/servlet/dafpipeline/DynamoHandler to start the DAF servlet
    pipeline for JSP requests. The DAF servlet pipeline relies on JBoss
    to handle the complete page compilation process.
  -->
  <filter>
    <filter-name>PageFilter</filter-name>
    <filter-class>atg.filter.dspjsp.PageFilter</filter-class>
  </filter>
  <filter>
    <filter-name>ForwardFilter</filter-name>
    <filter-class>atg.servlet.ForwardFilter</filter-class>
  </filter>
  <filter>
    <filter-name>ErrorFilter</filter-name>
    <filter-class>atg.servlet.ErrorFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ErrorFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ForwardFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PageFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>

  <!--
    The ADCDataInsertFilter turns on auto-tagging of pages for Oracle Recommendations On Demand integration.
    The ConditionalDelegatingFilter allows this web application to run whether or not Store.Recommendations 
    module is present. If you always want to run with Store.Recommendations or some other auto-tagging feature,
    you can simplify the filter tag as follows:
      <filter>
        <filter-name>ADCDataInsertFilter</filter-name>
        <filter-class>
          atg.adc.filter.ADCDataInsertFilter
        </filter-class>
      </filter>
  -->
  <filter>
    <filter-name>ADCDataInsertFilter</filter-name>
    <filter-class>
      atg.filter.ConditionalDelegatingFilter
    </filter-class>
    <init-param>
      <param-name>targetFilter</param-name>
      <param-value>
        atg.adc.filter.ADCDataInsertFilter
      </param-value>        
    </init-param>
    <init-param>
      <param-name>mimeTypes</param-name>
      <param-value>text/html,dynamo-internal/html</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ADCDataInsertFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- FOR SEO COMPLIANCE -->
  <servlet>
    <servlet-name>MappedJumpServlet</servlet-name>
    <servlet-class>
      atg.repository.seo.MappedJumpServlet
    </servlet-class>
    <init-param>
      <param-name>loggingDebug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>jumpServlet</param-name>
      <param-value>
        ctx:dynamo:/atg/dynamo/servlet/dafpipeline/JumpServlet
      </param-value>
    </init-param>
  </servlet>

  <!-- 
    This servlet must be defined in each web application which is designated
    as a "main" web application (i.e. its context name is the value of
    another web application's atg.session.parentContextName parameter).  

    If you are seeing this here then this web application is being designated as 
    a parent web app.  Which means it will not share session with another 
    web application; other web applications may look to it as a parent when 
    sharing sessions.  Ensure the atg.session.parentContextName is also set 
    to the context root of this web application.

    Only uncomment this if this web application is a parent web application.

    <servlet>
    <servlet-name>SessionNameContextServlet</servlet-name>
    <servlet-class>atg.nucleus.servlet.SessionNameContextServlet</servlet-class>
    </servlet>
  -->

  <!--
    To use ATG platform functionality, a Web application on a 3rd party application 
    server needs to start Nucleus by invoking NucleusSerlvet. This servlet does not 
    need to have any paths mapped to it, but must have the load-on-startup flag set 
    to 1 so that it runs before any other ATG component. The NucleusServlet creates 
    an instance of Nucleus and sets it as an attribute of the web application.
  -->
  <servlet>
    <servlet-name>NucleusServlet</servlet-name>
    <servlet-class>
      atg.nucleus.servlet.NucleusServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!--
    This servlet exposes the dynamo servlet pipeline. It is necessary if
    you want to support serving JHTML pages on your site. The context path
    and servlet path used by this servlet are prepended onto all URLs
    for JHTML pages on your site.
  -->
  <servlet>
    <servlet-name>DynamoProxyServlet</servlet-name>
    <servlet-class>
      atg.nucleus.servlet.NucleusProxyServlet
    </servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- FOR SEO COMPLIANCE -->
  <servlet-mapping>
    <servlet-name>MappedJumpServlet</servlet-name>
    <url-pattern>/jump/*</url-pattern>
  </servlet-mapping>

  <!-- This 'link' servlet is used by the Endeca Workbench preview invocation. -->
  <servlet>
   <servlet-name>link</servlet-name>
    <servlet-class>atg.endeca.servlet.NucleusPreviewLinkServlet</servlet-class>
    <init-param>
      <description>
        The Nucleus component path of the default NavigationStateBuilder.
      </description>
      <param-name>navigationStateBuilderComponent</param-name>
      <param-value>/atg/endeca/assembler/cartridge/manager/NavigationStateBuilder</param-value>
    </init-param>
    <init-param>
      <description>
        The map of xmgr path versus Nucleus component paths of the NavigationStateBuilder.
      </description>
      <param-name>navigationStateBuilderComponentMap</param-name>
      <param-value>
		/storelocations=/atg/endeca/assembler/cartridge/manager/LocationNavigationStateBuilder,
		/storedetails=/atg/endeca/assembler/cartridge/manager/LocationNavigationStateBuilder
	  </param-value>
    </init-param>
    <init-param>
      <description>
        The Nucleus component path of the ContentSource.
      </description>
      <param-name>contentSourceComponent</param-name>
      <param-value>/atg/endeca/assembler/cartridge/manager/WorkbenchContentSource</param-value>
    </init-param>
    <init-param>
      <description>
        The Nucleus component path of the Endeca SiteManager.
      </description>
      <param-name>endecaSiteManagerComponent</param-name>
      <param-value>/atg/endeca/assembler/multisite/SiteManager</param-value>
    </init-param>
    <init-param>
      <description>
        The Nucleus component path of the ATG SiteManager.
      </description>
      <param-name>atgSiteManagerComponent</param-name>
      <param-value>/atg/multisite/SiteManager</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>link</servlet-name>
    <url-pattern>/link.json/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
    Dynamo ELResolver event listener allowing JSTL expressions to refer to 
    Nucleus component and dynamic bean properties (including repository item properties)   
  -->
  <listener>
    <listener-class>atg.taglib.dspjsp.RegisterELResolverServletContextListener</listener-class>
  </listener>
  
  <!-- Spring ContextLoaderListener
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
   -->
  <!-- The Spring application configuration file location -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring-context.xml</param-value>
  </context-param> 
  <!--To avoid  Spring library JAR files conflict  -->
  <container-descriptor>
  <prefer-web-inf-classes>true</prefer-web-inf-classes>
</container-descriptor>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- the 404 error page -->
  <error-page>
    <error-code>404</error-code>
    <location>/global/pageNotFound.jsp</location>
  </error-page>
  
  <!-- the 500 error page -->
  <error-page>
    <error-code>500</error-code>
    <location>/global/serverError.jsp</location>
  </error-page>
  
  <!-- the 409 error page -->
  <error-page>
    <error-code>409</error-code>
    <location>/global/sessionExpired.jsp</location>
  </error-page>

  <!-- 
    For internal errors. This should really never happen, but just in case...
    <error-page>
      <exception-type>java.lang.Exception</exception-type>
      <location>/error.jsp</location>
    </error-page>
  -->

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <scripting-invalid>false</scripting-invalid>
      <include-prelude>/includes/prelude.jspf</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>
<!-- @version $Id: //product/Eclipse/version/11.2/plugins/atg.project/templates/web.xml#1 $$Change: 946917 $ -->
